<%= stylesheet_link_tag "coindlabelstyle.css" %>

<div class="messages">
  <div class="container">
  
  	<table>
	    <% for index in 0 ... @coins.size %>
		<%	coin = @coins[index] %>
			<% if ((index % 2) == 0) %>
				<tr>
			<% end %>
					<%= render partial: "coin", locals: { coin: coin, qr: @qrcodes[index]} %>
			<% if ((index % 2) == 1) %>
				</tr>
			<% end %>
		<% end %>
		
	   
	
	</table>
	
	
	<!--<%= link_to 'Back', coins_path() %>-->

  </div>
</div>