<div class="layout" >

<h1>Edit Coin Label</h1>

<%= render partial: "newcoin", locals: { coin: @coin, submitText: "Update"} %>

<br>

<table>
<%= render partial: "coin", locals: { coin: @coin, qr: @img} %>
</table>

<br>

	<div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
		<ul class="pure-menu-list">
			 <li class="pure-menu-item"><%= link_to 'Back', coins_path(), { :class=>"pure-menu-link" } %></li>
		</ul>
	</div>

</div>
